<h1> Burger App Built with Node, Express, and HandleBars!!!</h1>

<body class = "background"> </body>





<form class = "create-burger">
    
<input placeholder="Type in a Burger!" id="burger-text"></input>

<button type="submit">Save a New Burger!</button>

</form>


{{!-- {{#each burgers}}
    <h1 class="yourClass">{{this.name}}</h1>

{{/each}} --}}
<h1>Here's the Menu!</h1>
<ul>
{{#each burgers}}
    {{#unless devoured}}
        {{>  burger-block devoured = false}}
    {{/unless}}
{{/each}}
{{!-- <li>
    <p>Burger Name: {{this.name}}</p>
    <p>Devoured: {{this.devoured}}</p>
    
</li>
{{/each}} --}}
</ul>

<h1>All Done!</h1>
<ul>
{{#each burgers}}
    {{#if devoured}}
        {{>burger-block devoured = true}}
    {{/if}}
{{/each}}
</ul>









<script>

      $(".change-eat").on("click", function(event){
        var id = $(this).data("id");
        var newEat = $(this).data("newdevoured");

        var eatStatus = {
            devoured: newEat
        };

    //Setting up PUT request
    $.ajax({
        type:"PUT",
        url: "/api/burgers/" + id
    }).then(function() {
            console.log("Changed eat status: ", newEat);
            //This will reload the page to get updated list
            location.reload();
        });
    });

    $(".create-burger").on("submit", function(event){
        //Have to prevent default
        event.preventDefault();

        var newBurger = {
            name: $("#burger-text").val().trim(),
            devoured: false
        };

        $.ajax({
            type:"POST",
            url: "/api/burgers/",
            data: newBurger
        }).then(function(data){
            console.log("New Burger" + newBurger)
            location.reload();

        })
        
    })



</script>


   
