<h1> Save ur new burger!!</h1>


<input></input>

<button>save</button>

{{#each burgers}}
    <h1 class="yourClass">{{this.name}}</h1>



{{/each}}







<script>

    // on clicks an ajax calls!!!

    // ajax call smacks /api/burger route!!! 
</script>