<h1> Burger App Built with Node, Express, and HandleBars!!!</h1>

<body class = "background"> </body>


<input placeholder="Type in a Burger!"></input>

<button>Save a New Burger!</button>

{{!-- {{#each burgers}}
    <h1 class="yourClass">{{this.name}}</h1>

{{/each}} --}}

<ul>
{{#each burgers}}
<li>
    <p>Burger Name: {{this.name}}</p>
    <p>Devoured: {{this.devoured}}</p>
    
</li>
{{/each}}
</ul>












   
